@import url('http://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #fff;
    background: rgb(95, 197, 223);
}
h1{
    font-weight: 900;
}
.container{
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    top: 15rem;
    left: 40rem;
}
.box{
    width: 350px;
    height: 390px;
    font-size: 16px;
    padding: 40px 40px;
    background: #434856;
    border-radius:48px;
}
user{
    margin-top:50px;
}
.fas{
    position: absolute;
}

input{
    width:90%;
    margin-bottom: 25px;
    padding: 0px 30px 10px;
    font-size: 16px;
    border:none;
    border-bottom: 1px solid #f5f5ff;
    outline: none;
    background-color: transparent;
    color: #fff;
    transition:.3s all;
}

.reset-password{
    color: #71a8d4;
    text-align: right;
    margin-top: 0px;
    font-size: 12px;
    cursor: pointer;
}
.reset-password:hover{
    text-decoration: underline;
    color: #ff7f50;
}   
.btn{
    position: absolute;
    width: 53%;
    padding:15px;
    left: 25%;
    text-align: center;
    background-color: #31a3ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size:20px;
    font-weight: 600;
}
.btn a:visited{
    color: #ffffff;
}
.btn a:hover{
    color: #ff3131;
}
.signup{
    color:#ffffff;
    position: absolute;
    top: 22rem;
    left: 8rem;
}
.signup span{
    color: #b3d1e9;
}
.signup a:visited{
    color: #7fb8e6;
}
.signup a:hover{
    color:red;
}
.signup a:active{
    color: orange;
}